<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/x-icon" href="@/static/favicon.ico">
    <link rel="stylesheet" href="@/static/page.css" type="text/css">
  </head>
  <body>
    <nav>
      <a href="@/">Home</a>
      &middot;
      <span class="dropdown">
	<a href="#">Lessons</a>
	<span id="nav-lessons" class="dropdown-content">
          <a href="@/intro/">Introduction</a>
          <a href="@/handover/">Handing Over</a>
          <a href="@/shutdown/">Shutting Down</a>
          <a href="@/rushed/">Short Notice</a>
          <a href="@/finale/">Conclusion</a>
	</span>
      </span>
      &middot;
      <span class="dropdown">
        <a href="#">Extras</a>
        <span id="nav-extras" class="dropdown-content">
	  <a href="@/license/">License</a>
	  <a href="@/conduct/">Code of Conduct</a>
	  <a href="@/contrib/">Contributing</a>
	  <a href="@/bibliography/">Bibliography</a>
	  <a href="@/glossary/">Glossary</a>
          <a href="@/firing/">Firing People</a>
          <a href="@/fired/">Being Fired</a>
        </span>
      </span>
    </nav>
    <main>
{{content}}
    </main>
    <footer>
      <a href="@/">At the End of the Day</a>
      copyright &copy; 2025
      <a href="@/intro/#acknowledgments">the authors</a>
    </footer>
  </body>
</html>
